<div class="container" ng-controller="SearchCollegeController">
    <br>
    <div class="card-timeline radius shadowDepth1">
<!--        <div class="card__image border-tlr-radius">
            <img src="https://blogs.vmware.com/networkvirtualization/files/2017/01/News-Image.jpg" alt="{{event.eventType}}" class="border-tlr-radius">
        </div>-->

        <div class="card__content card__padding">
            
            <div class="card__meta">
                
                                <img src="https://smilestream.com/Content/userimages/default-avatar.png" height="50" width="50" alt="user">
                                <h2>Aditya Tapaswi</h2>
                <a href="">21 Jan 1994</a>
            </div>

            <article class="card__article">
                <h4>Profile Summary</h4>

                <p>A Bright Science Student Wants to pursue career in Bachelors Of Science</p>
                <hr>
                <h4>Educational Details</h4>
                <p>Completed HSC in Jaihind Junior College, Pimpri And Secured 70.22% in 2011<br>
                Completed HSC in Judson High School, Pimpri And Secured 83.22% in 2009</p>
            </article>
            <hr>
            <h4>Application Documents & Details</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4"><div class="thumbnail"> <img src="https://image.flaticon.com/icons/svg/337/337946.svg">SSC Certificate</div></div>
                    <div class="col-md-4"><div class="thumbnail"> <img src="https://image.flaticon.com/icons/svg/337/337946.svg">HSC/ Diploma Certificate</div></div>
                    <div class="col-md-4"><div class="thumbnail"> <img src="https://image.flaticon.com/icons/svg/337/337946.svg">College Leaving Certificate</div></div>
                    
                </div>
            </div>
        </div>

        <div class="card__action">

            <div class="card__author">

                <div class="card__author-content">
                    Adhar No: 1234 5678 9875
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-success"><i class="fa fa-send"></i> Send Application</button>
            </div>
        </div>
    </div>
</div>