<ng-include src="'templates/menu.html'"></ng-include>
<div class="container" ng-controller="DocsController" ng-init="getDocuments();">
    <h1 class="well">Existing Documents</h1>
    <div class="panel box-shadow col-lg-12 well">


        <div class="gallery" ng-repeat="doc in docs">
            <div>
                <span class="btn btn-danger delete-btn" ng-click="deleteDoc(doc)"><i class="fa fa-trash fa-lg fa-inverse"></i></span>
            </div>
            <div ng-click="viewDocument(doc)">
                <img class="img-thumb" src="https://image.flaticon.com/icons/svg/337/337946.svg">
                <div class="desc">
                    {{doc.document_name}}
                </div>
            </div>

        </div>
    </div>


    <div class="col-lg-12 well" style="position: static">
        <h1 >Upload/Update Documents</h1>

        <form> 
            <div>
                <strong>Select SSC Certificate</strong>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">

                    <div class="input-group">

                        <label class="input-group-btn select-button">
                            <label class="btn btn-primary ">
                                Browse <input type="file" accept="application/pdf" file-model="sscfile"   style="display: none;">
                            </label>
                        </label>
                        <input type="text"  class="form-control" readonly>
                    </div>
                    <!--                        <span class="help-block">
                                                Try selecting one or more files and watch the feedback
                                            </span>-->
                </div>
                <div class="col-md-6">
                    <button ng-show="sscfile" class="btn btn-primary" ng-click="upload('SSC Certificate', sscfile);"><i class="fa fa-lg fa-upload"></i> Upload</button>
                </div>
            </div>
            <div>
                <strong>Select HSC/ Diploma Certificate</strong>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">

                    <div class="input-group">

                        <label class="input-group-btn select-button">
                            <label class="btn btn-primary ">
                                Browse <input type="file" accept="application/pdf" file-model="hscFile" style="display: none;">
                            </label>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>

                </div>
                <div class="col-md-6">
                    <button ng-show="hscFile" class="btn btn-primary" ng-click="upload('HSC/ Diploma Certificate', hscFile);"><i class="fa fa-lg fa-upload"></i> Upload</button>
                </div>
            </div>
            <div>
                <strong>Select College Leaving Certificate</strong>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">

                    <div class="input-group">

                        <label class="input-group-btn select-button">
                            <label class="btn btn-primary ">
                                Browse <input type="file" accept="application/pdf" file-model="clFile" style="display: none;">
                            </label>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>

                </div>
                <div class="col-md-6">
                    <button ng-show="clFile" class="btn btn-primary" ng-click="upload('College Leaving Certificate', clFile);"><i class="fa fa-lg fa-upload"></i> Upload</button>
                </div>
            </div>

            <div>
                <strong>Select Custom File</strong>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">

                    <div class="input-group">

                        <label class="input-group-btn select-button">
                            <label class="btn btn-primary ">
                                Browse <input type="file" accept="application/pdf" file-model="cusFile" style="display: none;">
                            </label>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>

                </div>
                <div class="col-md-3">
                    <input type="text" ng-show="cusFile"  ng-model="cusFileName" class="form-control" placeholder="File Name">
                </div>
                <div class="col-md-3">
                    <button ng-show="cusFile" class="btn btn-primary" ng-click="upload(cusFileName, cusFile);"><i class="fa fa-lg fa-upload"></i> Upload</button>
                </div>
            </div>

        </form>
    </div>
    <div class="loading-spiner-holder2" ng-show="loading || false"></div>
</div>
<script>
    $(function () {

        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function () {
            var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log)
                        alert(log);
                }

            });
        });

    });
</script>
