<ng-include src="'templates/menu.html'"></ng-include>

<div class="container" ng-controller="SearchCollegeController">
    <table>
        <caption>Search Results <span class="green" ng-class="{red: colleges.length <= 5}">{{colleges.length}} Matching Colleges</span></caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Rating</th>
                <th scope="col">Course</th>
                <th scope="col">Fees</th>
                <th scope="col">Seats Available</th>
                <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="college in colleges">
                <td data-label="Name">{{college.name}}</td>
                <td data-label="Address">{{college.address}}</td>
                <td data-label="Rating"><span class="green" ng-class="{red: college.rating <= 2}">{{college.rating}}</span></td>
                <td data-label="Course">{{college.course}}</td>
                <td data-label="Fees">{{college.fees}} &#8377; / Year</td>
                <td data-label="Seats Available"><span class="green" ng-class="{red: college.seatsAvailable <= 10}">{{college.seatsAvailable}}</span></td>
                <!--<td data-label="Type"><span class="green" ng-class="{red: transaction.type === 'DB'}">{{transaction.type}}</span></td>-->
                <td data-label="">
                    <button class="btn btn-info">Apply</button>
                    <button class="btn btn-success" title="View Website"><i class="fa fa-lg fa-globe"></i></button>
                </td>

            </tr>

        </tbody>
    </table>
    <br>
</div>